/* GLOBAL STYLING */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* border: 1px dotted red; */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 70%;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kavivanar", cursive;
  font-weight: normal;
}
h2 {
  font-size: 2rem;
  color: #a51f10;
  margin: 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rightheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightheader h1 {
  margin: 0;
  font-size: 3cqi;
  color: #da0090;
}

/* NAV BAR  */

nav {
  text-align: center;
  border-top: 1px solid #da0090;
  border-bottom: 1px solid #a51f10;
  padding: 0.5rem 0;
}

nav ul li {
  display: inline-block;
}

/* ARTICLE  */

section {
  border-bottom: 1px solid #da0090;
}

article {
  overflow: hidden;
  margin: 2.5rem 0;
}

.floatleft {
  float: left;
  margin-right: 1rem;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

img {
  border-radius: 1rem;
}

p {
  margin: 1rem 0;
}

a {
  color: #da0090;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

article p a {
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

.posted {
  font-size: 0.8rem;
  color: #89a611;
}

/* FOOTER  */

footer {
  text-align: center;
  font-size: 0.8rem;
  border-top: 1px solid #a51f10;
  margin-top: 0.5rem;
}

footer p {
  margin: 2rem 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  margin: 0;
}
