html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  border: 1px dotted red;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rightheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightheader h1 {
  margin: 0;
  font-size: 3cqi;
  color: #da0090;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kavivanar", cursive;
  font-weight: normal;
}
h2 {
  font-size: 2rem;
  color: #a51f10;
  margin: 0;
}
a {
  color: #da0090;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.posted {
  font-size: 0.8rem;
  color: #89a611;
}
footer {
  text-align: center;
  font-size: 0.8rem;
}
